/* Reset dan Dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header */
/* header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
} */

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #333;
}

.search-bar input {
    padding: 8px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.icon {
    font-size: 18px;
    margin-left: 10px;
}

/* Main Content */
main {
    padding: 20px;
}

.breadcrumb {
    font-size: 14px;
    color: #888;
    margin-bottom: 7px;
}

h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 5px;
}

.product-count {
    font-size: 16px;
    color: #666;
}

.filters, .sorting {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.filters button, .sorting select {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

/* Product Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 1fr)); /* Tetap 5 kolom pada semua ukuran */
    gap: 5px; /* Jarak antar item */
    margin-top: 20px;
    list-style-type: none;
    padding: 0;
}

.grid li {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    max-width: 100%;
}

.grid li img {
    background-color: #e0e0e0;
    border-radius: 8px;
    width: 130px;
    height: 130px;
    cursor: pointer;
}

.price {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.brand, .size {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}


/* nyoba */
.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 16px;
}

.product-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    width: 200px;
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-item h3 {
    font-size: 18px;
    margin: 8px 0;
}


/* Responsif */
@media (max-width: 768px) {
    .grid {
        gap: 0; /* Hapus jarak antar item pada layar kecil */
    }
}
